<!DOCTYPE html>
<html>
  <head>
    <title>ScratchBot!</title>
  </head>
  <body>
    <h1>Hi there!</h1>

    Click
    <a
      href="https://discordapp.com/oauth2/authorize?client_id=<%= process.env.CLIENT_ID %>&scope=bot"
      >here</a
    >
    to add the bot to Discord.
  </body>
</html>
